body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F8FF;  /*#eee*/
    margin-top: 10%;
}

#centro {
    width: 700px;
    height: 350px;
    padding: 15px;
    margin: 0 auto;
    /* opacity: 0.2; */
    background: rgb(124, 134, 151);
    color: white;
    font-size: 22px;
    text-align: center;
}
